{% extends "site.html" %}

{% block content_title %}
{% if select == "__ALL__" or select == "" %}
<h2 id="title" class="page-title">
{% if is_post %}{{ ui.post_title }}{% else %}{{ ui.pre_title }}{% endif %}
</h2>
{% else %}
{% set model = models[select] %}
<h2 id="title" class="page-title">
{{ model.name }}
</h2>
<div class="text-secondary mt-1"><a href="{{ model.url }}"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg></a> {% if 0 < model.params %}{{ model.params }}B{% if model.params != model.active_params %} ({{ model.active_params }}B {{ ui.active_param }}){% endif %}{% else %}{{ ui.unknown_size }}{% endif %} ({{ ui.release_date }}: {{ model.date }}) {% if model.is_post %}({{ ui.model.reasoning }}: {{ model.reasoning }}){% endif %}</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row row-deck row-cards">

  <!-- Radar chart -->
  {% if is_post %}
    <div class="col-sm-8 col-lg-8">
    {% with _id="bar_ja_post", _title=taskspec.ja_post.title, _tasks='[["ja_post", "+"], ["ja_post", "avg"]]', _groupby="task" %}
      {% include "bar.html" %}
    {% endwith %}
    </div>
    <div class="col-sm-4 col-lg-4">
    {% with _id="radar_ja_mtb", _category="ja_mtb", _height="360" %}
      {% include "radar.html" %}
    {% endwith %}
    </div>
    <div class="col-sm-8 col-lg-8">
    {% with _id="bar_en_post", _title=taskspec.en_post.title, _tasks='[["en_post", "+"], ["en_post", "avg"]]', _groupby="task" %}
      {% include "bar.html" %}
    {% endwith %}
    </div>
    <div class="col-sm-4 col-lg-4">
    {% with _id="radar_en_mtb", _category="en_mtb", _height="360" %}
      {% include "radar.html" %}
    {% endwith %}
    </div>
  {% else %}
    <div class="col-sm-6 col-lg-6">
    {% with _id="bar_ja_pre", _title=taskspec.ja_pre.title, _tasks='[["ja_pre", "+"], ["ja_pre", "avg"]]', _groupby="task" %}
      {% include "bar.html" %}
    {% endwith %}
    </div>
    <div class="col-sm-6 col-lg-6">
    {% with _id="bar_en_pre", _title=taskspec.en_pre.title, _tasks='[["en_pre", "+"], ["en_pre", "avg"]]', _groupby="task" %}
      {% include "bar.html" %}
    {% endwith %}
    </div>
  {% endif %}

  <div class="col-12">
    {% if is_post %}
    {% with _tabs=ui.post %}
    {% include "table.html" %}
    {% endwith %}
    {% else %}
    {% with _tabs=ui.pre %}
    {% include "table.html" %}
    {% endwith %}
    {% endif %}
  </div>

</div>

{% endblock %}
