{#
  _id: HTML ID
  _model: Model ID
  _task: Task ID
#}

{% set m = models[_model] %}
{% set ranking = m.ranking[_task] %}

<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div class="subheader">{{ taskcats[_category].tasks[_task].title }}</div>
    </div>
    {% if ranking %}
    <div class="d-flex align-items-baseline">
      <div class="h1 mb-0 me-2">{{ ranking.value }}</div>
      <div class="me-auto">
        <span class="text-danger d-inline-flex align-items-center lh-1">#{{ ranking.rank }}</span>
        <span class="text-secondary d-inline-flex align-items-center lh-1"> / {{ ranking.series | length }}</span>
      </div>
    </div>
    {% else %}
    <p class="empty-title">{{ ui.no_data }}</p>
    {% endif %}
  </div>
  <div id="rank-{{ _id }}" class="chart-sm"></div>
</div>

{% if ranking %}
<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    var build = function() {
      const theme_color_other = "#78909C";
      const theme_colors = ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0"];
      var ids = {{ ranking.ids }};

      var colors = new Array(ids.length);
      for (let i = 0; i < ids.length; ++i) {
        colors[i] = theme_color_other;
      }

      for (let j = 0; j < g_filter.length; ++j) {
        const m = g_models[g_filter[j]];
        for (let i = 0; i < ids.length; ++i) {
          if (ids[i] == m.id) {
            colors[i] = theme_colors[j % theme_colors.length];
          }
        }
      }
      return colors;
    }

    var series = {{ ranking.series }};
    var colors = build();
    window.ApexCharts && (new ApexCharts(document.getElementById('rank-{{ _id }}'), {
      chart: {
        type: "bar",
        id: "rank-{{ _id }}",
        fontFamily: 'inherit',
        height: 40.0,
        sparkline: {
          enabled: true
        },
        animations: {
          enabled: false
        },
      },
      plotOptions: {
        bar: {
          distributed: true,
          columnWidth: '50%',
        }
      },
      dataLabels: {
        enabled: false,
      },
      fill: {
        opacity: 1,
      },
      series: [{
        name: "Score",
        data: series
      }],
      tooltip: {
        marker: {
          show: false,
        },
      },
      grid: {
        strokeDashArray: 4,
      },
      xaxis: {
        labels: {
          padding: 0,
        },
        tooltip: {
          enabled: false
        },
        axisBorder: {
          show: false,
        },
      },
      yaxis: {
        labels: {
          padding: 4
        },
      },
      labels: {{ ranking.labels }},
      colors: colors,
      legend: {
        show: false,
      },
    })).render();

    // Register an update function.
    g_updater.push(function() {
      colors = build();
      ApexCharts.exec("rank-{{ _id }}", 'updateOptions', {colors: colors}, true);
    });
  });
  // @formatter:on
</script>
{% endif %}
