{% macro axisselector(_id, _axis, _categories, _title) -%}
<div class="dropdown">
  <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">{{ _title }}</a>
  <div id="axis-{{ _id }}-{{ _axis }}" class="dropdown-menu">
    <div class="dropdown-menu-columns">
      {% for category in _categories %}
      {% if category.name != "general" %}
      <div class="dropdown-menu-column">
        {% for task in category.columns %}
        <span data="{{ task[0] }},{{ task[1] }}" class="dropdown-item">{{ taskspec[task[0]].taskdict[task[1]].title }}</span>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}
      <div class="dropdown-menu-column">
        <span data="params," class="dropdown-item">{{ ui.model.params }}</span>
        <span data="active_params," class="dropdown-item">{{ ui.model.active_params }}</span>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

<div class="card">
  <div class="card-body">
    <div id="scatter-{{ _id }}" class="chart-lg"></div>
  </div>
  <ul class="nav">
    <li class="nav-item">
      {{ axisselector(_id, "x", _categories, ui.xaxis) }}
    </li>
    <li class="nav-item">
      {{ axisselector(_id, "y", _categories, ui.yaxis) }}
    </li>
  </ul>
</div>

<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    swallow_leaderboard_chart(
      "scatter-{{ _id }}",
      {
        type: "scatter",
        models: {includes: g_filter},
        xaxis: ["params", ""],
        yaxis: ["{{ _ycat }}", "{{ _yname }}"],
      }
    );

    var set_active = function(axis, field) {
      document.querySelectorAll("#axis-{{ _id }}-" + axis + " span").forEach(function(e) {
        if (e.getAttribute("data") == field) {
          e.className = "dropdown-item active";
        } else {
          e.className = "dropdown-item";
        }
      });
    };

    var get_active = function(axis) {
      e = document.querySelectorAll("#axis-{{ _id }}-" + axis + " span[class*='active']")[0];
      return e.getAttribute("data");
    };

    document.querySelectorAll('#axis-{{ _id }}-x span').forEach(e => e.onclick = function() {
      const field = this.getAttribute("data");
      set_active("x", field);
      const ct = field.split(",");
      swallow_leaderboard_update("scatter-{{ _id }}", {xaxis: [ct[0], ct[1]]});
    });

    document.querySelectorAll('#axis-{{ _id }}-y span').forEach(e => e.onclick = function() {
      const field = this.getAttribute("data");
      set_active("y", field);
      const ct = field.split(",");
      swallow_leaderboard_update("scatter-{{ _id }}", {yaxis: [ct[0], ct[1]]});
    });
  });
  // @formatter:on
</script>
