<!doctype html>
<html lang="{{ lang }}" data-bs-theme="light">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta name="description" content="{{ description }}">
  <meta name="author" content="Naoaki Okazaki and Swallow project">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{{ ui.title }}{% if title %} | {{ title }}{% endif %}</title>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ ui.title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image:src" content="./static/logo.svg">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="{{ ui.title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="./static/logo.svg">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="./static/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./static/favicon.svg" />
  <link rel="shortcut icon" href="./static/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png" />
  <link rel="manifest" href="./static/site.webmanifest" />

  <!-- CSS files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler-flags.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/demo.min.css" />
  <link href="./static/leaderboard.css" rel="stylesheet"/>
  <style>
    @import url('https://rsms.me/inter/inter.css');
    :root {
      --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
      font-feature-settings: "cv03", "cv04", "cv11";
    }
  </style>
</head>
<body >
  <script>
    var params = new Proxy(new URLSearchParams(window.location.search), {
      get: function get(searchParams, prop) {
        return searchParams.get(prop);
      }
    });

    // 
    var selectedTheme;
    if (!!params.theme) {
      localStorage.setItem("theme", params.theme);
      selectedTheme = params.theme;
    } else {
      var storedTheme = localStorage.getItem("theme");
      selectedTheme = storedTheme ? storedTheme : "light";
    }
    document.documentElement.setAttribute("data-bs-theme", selectedTheme);

  </script>
  <div class="page">
    <!-- Navbar -->
    <header class="navbar navbar-expand-md d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href="{% if is_post %}index-post.{{ lang }}.html{% else %}index-pre.{{ lang }}.html{% endif %}">
            <svg width="32" height="32" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M96.18 22.49C264.6 98.36 403.1 214.8 40.11 270.5 153 268 191.6 291.1 64.12 382.6c230.18-128 331.68-189 318.98 106.9 30.5-54.4 114.6-241 36.4-268.3 6.2-7.4 15.5-19.4 22.1-31.9 13.1-5.7 22.6-13.6 30.3-23.7-8.7-2-16-2.5-22.8-2.3-.2-2.8-.8-5.5-2.1-7.9-8.7-16.5-48.1-13.7-62.4-12.1 4.7-81-226.8-117.09-288.42-120.81z"/></svg>
            Swallow LLM Leaderboard v2
          </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
          <div class="nav-item dropdown">
            <a id="link-dark" href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
            data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode">
              <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
            </a>
            <a id="link-light" href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
            data-bs-placement="bottom" aria-label="Enable light mode" data-bs-original-title="Enable light mode">
              <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
            <ul class="navbar-nav">
              {% for item in ui.nav %}
                {% if "children" in item %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                      {{ item.svg }}
                    </span>
                    <span class="nav-link-title">{{ item.title }}</span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-menu-columns">
                      <div class="dropdown-menu-column">
                        {% for child in item.children %}
                        {% if "break" in child %}
                        </div>
                        <div class="dropdown-menu-column">
                        {% else %}
                        <a class="dropdown-item" href="{{ child.path }}.{{ lang }}.html{% if child.query %}?{{ child.query }}{% endif %}">{{ child.svg }} {{ child.title }}</a>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ item.path }}.{{ lang }}.html" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">{{ item.svg }}</span>
                    <span class="nav-link-title">{{ item.title }}</span>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-world"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M3.6 9h16.8" /><path d="M3.6 15h16.8" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a17 17 0 0 1 0 18" /></svg>
                  </span>
                  <span class="nav-link-title">{{ ui.languages }}</span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column">
                      <a class="dropdown-item" href="{{ filename | replace('.en.', '.ja.') }}"><span class="nav-link-icon flag flag-xs flag-country-jp"></span> {{ ui.japanese }}</a>
                      <a class="dropdown-item" href="{{ filename | replace('.ja.', '.en.') }}"><span class="nav-link-icon flag flag-xs flag-country-gb"></span> {{ ui.english }}</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              {% block content_title %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer class="footer footer-transparent">
      <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                Swallow LLM Leaderboard
              </li>
              <li class="list-inline-item">
                Copyright &copy; 2025 <a href="https://swallow-llm.github.io/" class="link-secondary">Swallow LLM team</a>
              </li>
              <li class="list-inline-item">
                Contents are licensed under 
                <a href="https://creativecommons.org/licenses/by/4.0/" class="link-secondary" rel="noopener">
                  CC-BY 4.0
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Libs JS -->
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/demo.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="{{ jspath }}"></script>
  <script>
    var g_filter = [];

    var params = new Proxy(new URLSearchParams(window.location.search), {
      get: function get(searchParams, prop) {
        return searchParams.get(prop);
      }
    });

    if (!!params.category) {
      const category = params.category;
      const selections = {{ ui.model_selection | tojson }};

      var e = document.getElementById('link-dark');
      var old = e.getAttribute('href');
      e.setAttribute('href', old+ "&category=" + category);

      e = document.getElementById('link-light');
      old = e.getAttribute('href');
      e.setAttribute('href', old+ "&category=" + category);

      for (selection of selections) {
        if (selection.name == category) {
          const query = selection.query;
          console.log(query);
          const models = swallow_leaderboard_models(query);

          g_filter = [];
          for (let model of models) {
            g_filter.push(model.id);
          }

          document.querySelectorAll('#title').forEach(function(e) {
            e.innerHTML += (" - " + selection.title);
          });
        }
      }



    } else {
      {% if select == "__ALL__" %}
      for (let key in g_models) {
        g_filter.push(g_models[key].id);
      }
      {% elif select != "" %}
        g_filter.push("{{ select }}");
      {% endif %}
    }

  </script>
</body>
</html>
